@model Ads_Post.Models.Ad
<body class="nav-md">

    <div class="container body">


        <div class="main_container">

            @{
                Html.RenderPartial("Admin/Side_Navigation");
            }

            <!-- top navigation -->
            @{
                Html.RenderPartial("Admin/Top_Navigation");
            }

            <div class="right_col" role="main">
                <div class="">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>Ad Detail <small></small></h3>
                            </div>

                            <div class="title_right">
                                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">Go!</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>@Model.title</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li>
                                                <a href="#"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="#">Settings 1</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Settings 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-close"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="x_content">

                                        <div class="col-md-9 col-sm-9 col-xs-12">

                                            <ul class="stats-overview">
                                                <li>
                                                    <span class="name">Post Date</span>
                                                    <span class="value text-success">@Model.date_of_post</span>
                                                </li>
                                                <li>
                                                    <span class="name">Done Date</span>
                                                    <span class="value text-success">@Model.date_of_done</span>
                                                </li>
                                                <li class="hidden-phone">
                                                    <span class="name"> Estimated project duration </span>
                                                    <span class="value text-success"> 20 </span>
                                                </li>
                                            </ul>
                                            <br />

                                           

                                            <div>
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <img class="img-responsive img-rounded" src="@Url.Content(Model.image)" alt="Alternate Text" height="400px" width="700px" />
                                                    </div>
                                                </div>
                                                @*<h4>Recent Activity</h4>

                                                <!-- end of user messages -->
                                                <ul class="messages">
                                                    <li>
                                                        <img src="images/img.jpg" class="avatar" alt="Avatar">
                                                        <div class="message_date">
                                                            <h3 class="date text-info">24</h3>
                                                            <p class="month">May</p>
                                                        </div>
                                                        <div class="message_wrapper">
                                                            <h4 class="heading">Desmond Davison</h4>
                                                            <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                                                            <br />
                                                            <p class="url">
                                                                <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                                                <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img src="images/img.jpg" class="avatar" alt="Avatar">
                                                        <div class="message_date">
                                                            <h3 class="date text-error">21</h3>
                                                            <p class="month">May</p>
                                                        </div>
                                                        <div class="message_wrapper">
                                                            <h4 class="heading">Brian Michaels</h4>
                                                            <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                                                            <br />
                                                            <p class="url">
                                                                <span class="fs1" aria-hidden="true" data-icon=""></span>
                                                                <a href="#" data-original-title="">Download</a>
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img src="images/img.jpg" class="avatar" alt="Avatar">
                                                        <div class="message_date">
                                                            <h3 class="date text-info">24</h3>
                                                            <p class="month">May</p>
                                                        </div>
                                                        <div class="message_wrapper">
                                                            <h4 class="heading">Desmond Davison</h4>
                                                            <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                                                            <br />
                                                            <p class="url">
                                                                <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                                                <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                                                            </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <!-- end of user messages -->*@


                                            </div>


                                        </div>

                                        <!-- start project-detail sidebar -->
                                        <div class="col-md-3 col-sm-3 col-xs-12">

                                            <section class="panel">

                                                <div class="x_title">
                                                    <h2>Ad Description</h2>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="panel-body">
                                                    

                                                    <p>@Model.description.</p>
                                                    <br />

                                                    <div class="project_detail">

                                                        <p class="title">Client Company</p>
                                                        <p>Deveint Inc</p>
                                                        <p class="title">Project Leader</p>
                                                        <p>Tony Chicken</p>
                                                    </div>

                                                    <br />
                                                    <h5>Information</h5>
                                                    <ul class="list-unstyled project_files">
                                                        <li>
                                                            <a href=""><i class="fa fa-file-word-o"></i>Posted By Admin</a>
                                                        </li>
                                                        <li>
                                                            <a href=""><i class="fa fa-file-pdf-o"></i>Verify Ad</a>
                                                        </li>
                                                        <li>
                                                            <a href=""><i class="fa fa-mail-forward"></i>PostToEarn@gmail.com</a>
                                                        </li>
                                                        <li>
                                                            <a href=""><i class="fa fa-picture-o"></i>04304568422</a>
                                                        </li>
                                                       
                                                    </ul>
                                                    <br />

                                                    <div class="text-center mtop20">
                                                        <a href="~/Admin/Update_Ad/@Model.Id" class="btn btn-info"><i class="fa fa-pencil"></i> Edit </a>
                                                        @if(Model.is_Active==1)
                                                        {
                                                            <a href="~/Admin/Deactivate_Ad/@Model.Id" class="btn btn-danger"><i class="fa fa-trash-o"></i> Deactive </a>
                                                        }
                                                        @if (Model.is_Active != 1)
                                                        {
                                                            <a href="~/Admin/Activate_Ad/@Model.Id" class="btn btn-dark">Activate </a>
                                                        }
                                                        
                                                    </div>
                                                </div>

                                            </section>

                                        </div>
                                        <!-- end project-detail sidebar -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

@*<script type="text/javascript">
        $(document).ready(function () {
            $('#single_cal1').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_1"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
        });
    </script>*@